[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pyformat = "*"
isort = "*"

[packages]
numpy = "*"
matplotlib = "*"

[requires]
python_version = "3.7"

[scripts]
fmt = "python setup.py fmt"
vet = "python setup.py vet"
pyt = "python setup.py pyt"
build = "python setup.py bdist_wheel"
